.todo-container, .login-container, .admin-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li span {
  flex-grow: 1;
}

.p-checkbox.p-highlight .p-checkbox-box {
  background-color: #0ea5e9;
  border-color: #0ea5e9;
}

#navigation-bar .p-menubar .active-menu-item .p-menuitem-link {
    border-bottom: 3px solid #0ea5e9;
    border-radius: 0;
}

#navigation-bar  .p-menubar .p-menuitem .p-menuitem-content:hover {
    background: white !important;
}

#navigation-bar .p-menubar .p-menuitem.p-focus {
    background: white !important;
}

#navigation-bar .p-menubar .p-menuitem .p-menuitem-content:active {
    background: white !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content {
    background: white !important;
}

#navigation-bar .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
    background: white !important;
}

#navigation-bar .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-content {
    background: white !important;
}